<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Deep Tac Toe 7</title>
<link href="../static/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
<body>
<body onload="init();">  
<div id="players">
  <div id="X" class="">Player X</div>
  <div id="O" class="">Player O</div>
  <input type="button" class="button" value="New Game">
</div>
<table>
  <tr>
    <td id="0"></td>
    <td id="1"></td>
    <td id="2"></td>
    <td id="3"></td>
    <td id="4"></td>
    <td id="5"></td>
    <td id="6"></td>
  </tr>
    <td id="7"></td>
    <td id="8"></td>
    <td id="9"></td>
    <td id="10"></td>
    <td id="11"></td>
    <td id="12"></td>
    <td id="13"></td>
  </tr>
  <tr>
    <td id="14"></td>
    <td id="15"></td>
    <td id="16"></td>
    <td id="17"></td>
    <td id="18"></td>
    <td id="19"></td>
    <td id="20"></td>
  </tr>
</table>
<br>
<div id = "footer">
<a type="button" class="back-button" href = "../../intro.html"> Back </a>
<br>
</body>
</html>
